main h2{
	padding: 10px 50px;
	line-height: 40px;
	width: 260px;
	text-align: center;
	margin: 20px auto;
	border: 1px solid olive;
	color: darkred;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.1);
}
main p{
	line-height: 24px;
	font-size: 16px;
	width: 75%;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.1);
	padding:15px;
	border-radius: 3px;
}
main h3{
	padding:10px;
	width: 100px;
	text-align: center;
	margin: 10px auto;
	border: 1px solid olive;
	color: darkred;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.1);
}
main h3:nth-of-type(2){
	width: 150px;
	margin: 20px auto;
}