main{
	position: relative;
}
main button{
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 90px;
	line-height: 50px;
	background-color: rgba(0,0,0,0);
	border: 1px solid gray;
	border-radius: 5px;
	font-size: 36px;
	color: gray;
}
main button:hover{
	color: #e6e6e6;
	background-color: rgba(0,0,0,0.1);
}