body{
	background: url(../../images/bg6.jpg);
	background-size: 100%;
}
content{
	float: left;
	width: 550px;
}
content h1{
	line-height: 60px;
	margin-top: 26px;
	padding-left: 180px;
}
content h4{
	line-height: 30px;
}
content p{
	line-height: 28px;
	font-size: 15px;
	text-indent: 2em;
	background-color: #e6e6e6;
	color: #222;
	padding: 10px;
	border-radius: 10px;
}
main .p1{
	width: 500px;
	margin: 10px auto;
}
